@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
 .outer {
    text-align: center;
   
}
.page{
    width: 100%;
    margin: auto;
}
p{
  font-size: 24px;
    text-align: center;
}
.LButton { 
 color:#555; text-shadow: 0px 0px 0px ; 
 padding: 5px 3px; 
 width:300px;
 background: #e6e6fa; 
 border:1px solid #d6d6d6; 
margin-left: 450px;
} 
.LButton:hover { 
 background: #fff0f5; 
 } 
.button{
color:#555; text-shadow: 0px 0px 0px ; 
 padding: 5px 3px; 
 width:300px;
 background: #e6e6fa; 
 border:1px solid #d6d6d6; 
margin-left: 980px;
margin-bottom: 40px;
}


.button:hover { 
    background: #fff0f5;
}

html,
body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    [rel="main"] {
        padding-bottom: 100px;
    }
}
footer {
    height: 100px;
    margin-top: -100px;
}
html,
body {
    width: 100%;
    background-color: #fff;
}
.wrap {
    width: 80%;
    margin: auto;
    background-color: #ccc;
}
footer {

    text-align: center;
    background-color: #000;
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 15px;
}

 
.foot-main{

    color: white;
}
.content{
    width: 80%;
    margin: auto;
}